@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

h1 {
  @apply text-2xl font-bold;
  background: linear-gradient(90deg, #2563eb 0%, #e4f30ee0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 2rem;
}

.text-outline {
  -webkit-text-stroke: 0.5px #e2f02362;
}

.list {
  transform-style: preserve-3d;
  transform: perspective(2500px);
}

.list .item {
  transition: 0.5s;
  filter: brightness(0.5);
}

.list .item:hover {
  filter: brightness(1);
  transform: translateZ(200px);
}

.list .item:hover + * {
  filter: brightness(0.8);
  transform: translateZ(150px) rotateY(40deg);
}

.list .item:hover + * + * {
  filter: brightness(0.7);
  transform: translateZ(70px) rotateY(20deg);
}

.list .item:has(+ *:hover) {
  filter: brightness(0.8);
  transform: translateZ(150px) rotateY(-40deg);
}

.list .item:has(+ * + *:hover) {
  filter: brightness(0.7);
  transform: translateZ(70px) rotateY(-20deg);
}
